<!doctype html>
<html>
  <head>
    <title>Create New Student</title>
  </head>
  <body>
    <h1>Create New Student Form: </h1>
    </br>
    <form action="/student-add" method="POST">
        First name: <input type="text" name="first_name" required>
        </br>
        Last name: <input type="text" name="last_name" required>
        </br>
        Github name: <input type="text" name="github_name" required>
        </br>
        <input type="submit" value="Create Student">
    </form>
  </body>
</html>